@use '../../variables'
@use '../../mixins'

#projects-page 
    background-color: variables.$bg-color
    border-radius: variables.$container-border-radius
    margin: 3rem
    padding: 2rem
    max-width: 100%
    min-width: 665px

    @media screen and (max-width: 768px)
        margin: 0
        padding: 0

    .title 
        color: variables.$text-color
        font-size: 2.5rem
        margin: .8rem
        @include mixins.center
        justify-content: center
        gap: 1rem

        &:after 
            @include mixins.gradient-border

        &:before 
            @include mixins.gradient-border-reverse
    
    .projects-grid
        @include mixins.center
        flex-wrap: wrap
        gap: 2rem

        .projects-card
            @include mixins.center
            justify-content: start
            flex-wrap: wrap
            padding: 1rem
            border-radius: variables.$card-border-radius 
            width: 100%

            @media (max-width: 768px)
                flex-direction: column
                margin-bottom: 4rem
        
        .projects-info
            flex: 1
            padding: 0.8rem

            h2
                color: variables.$text-color
                text-align: center
                margin: 1.3rem 0

            p
                color: variables.$text-color
                line-height: 1.4rem
                margin-bottom: 1rem
                text-align: justify

            a
                background-image: linear-gradient(90deg, rgba(250, 82, 82, 1) 0%, rgba(221, 36, 118, 1) 98%)
                -webkit-background-clip: text
                -moz-background-clip: text
                background-clip: text
                color: transparent
                display: block
                text-align: center
            
            img
                width: 100%
                height: auto
                border-radius: variables.$container-border-radius
        
        .card-reverse
            flex-direction: row-reverse

            @media (max-width: 768px)
                flex-direction: column
                margin-bottom: 4rem
            

    